<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackncheese.glassnetinfo" >

    <!-- to use a custom voice trigger -->
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <!-- to know the external IP address and provider name -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- to retrieve the SSID -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- to toggle WiFi state -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cloud_50"
        android:label="@string/app_name" >
        <activity
            android:name="com.hackncheese.glassnetinfo.MainActivity"
            android:icon="@drawable/ic_cloud_50"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>
        <activity
            android:name="com.hackncheese.glassnetinfo.ToggleWifiActivity"
            android:icon="@drawable/ic_wifi_50"
            android:label="@string/title_activity_toggle_wifi" >
        </activity>
    </application>

</manifest>
